@tailwind base;
@tailwind components;
@tailwind utilities;

.card-picture{
    height: 100%;
    width: 49.5%;
    border-color: var(--block-color);
}
.card-picture .header{
    border-color: var(--block-color);
}